/* 초기화 */
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

ul,
ol {
	list-style: none;
}

button {
	border: none;
	outline: none;
	background: none;
}

/* 스타일 */
body {
	padding: 20px;
	background: #eee;
}
